<div class="alert alert-success mt-3">
    <div class="row">
        <div class="col-8">
            <h2>Solicitud enviada</h2>
        </div>
        <div class="col-4">
            <a href="/" class="btn btn-warning" role="button">Productos</a>
        </div>
    </div>
</div>
