<div class="alert alert-danger mt-3">
    <div class="row">
        <div class="col-8">
            <h2>Error al enviar el carrito</h2>
        </div>
        <div class="col-4">
            <a href="/carrito" class="btn btn-warning" role="button">Volver</a>
        </div>
    </div>
</div>
