<form method="post" action="/login">
    <div class="mb-3">
        <label for="username">Ingrese su email</label>
        <input type="text" class="form-control" name="username" id="username">
    </div>
    <div class="mb-3">
        <label for="password">Ingrese su contraseña</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <button  class="btn btn-success">Login</button>
</form>
