<form method="post" action="/register">
    <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" id="email">
    </div>
    <div class="mb-3">
        <label for="fullName">Nombre completo</label>
        <input type="text" class="form-control" name="fullName" id="fullName">
    </div>
    <div class="mb-3">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" name="password" id="password">
    </div>
    <div class="mb-3">
        <label for="age">Edad</label>
        <input type="number" class="form-control" name="age" id="age">
    </div>
    <div class="mb-3">
        <label for="phoneNumber">Teléfono</label>
        <input type="text" class="form-control" name="phoneNumber" id="phoneNumber">
    </div>
    <div class="mb-3">
        <label for="avatar">Avatar</label>
        <input type="text" class="form-control" name="avatar" id="avatar">
    </div>
    <button  class="btn btn-success">Register</button>
</form>
